.header__principal{
  display:flex;
  padding: 16px;
  background-color: var(--gray-1);
  justify-content: space-around;
  border-bottom: 1px solid var(--brand-1);
  position: fixed;
  width: 100%;
  z-index: 5;
}

.main__block-primary{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 250px clamp(2.625rem, -9.587rem + 23.068vw, 14.75rem);
  gap:44px;
  text-align: center;
}

.main__block-secondary{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 82px clamp(2.313rem, -31.764rem + 51.683vw, 14.75rem);
  justify-content: space-around;
  background-color: var(--gray-1);
  color: var(--gray-5);
  gap:56px;
  box-sizing: border-box;
  width: clamp(62.875rem, -42.048rem + 163.942vw, 105.5rem);
}

.main__block-tertiary{
  display: flex;
  gap:56px;
  padding: 82px clamp(2.313rem, -31.764rem + 51.683vw, 14.75rem);

}
.main__block-tertiary-item-1{
  position: sticky;
  z-index: 0;
  top:163px;
  width: clamp(20rem, -26.154rem + 72.115vw, 38.75rem);
}
.main__block-tertiary-item-2{
  width: 583px;
  display:flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
}

.main__block-quaternary{
  display: flex;
  flex-direction: row-reverse;
  padding: 82px clamp(2.313rem, -31.764rem + 51.683vw, 14.75rem);
  gap: 56px;
  align-items: flex-start;
}
.main__block-quaternary-container-1{
  display: flex;
  padding: 0 0 0 86.4px;
  position: sticky;
  top: 117px;
}
.main__block-quaternary-item-1{
  display: flex;
  flex-direction: column;
  padding: 80px 52px;
}
.main__block-quaternary-item-2{
  display: flex;
  flex-direction: column;
  gap: 82px;
  width: 40%;
}
.main__block-quaternary-item-2 li p{
  box-sizing: border-box;
  width: 412px;
}
.main__block-quaternary-item-2 li{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.main__block-quaternary-item-2 li div{
  display: flex;
  flex-direction:column;
  box-sizing: border-box;
  width: 192px;
  gap:8px;
}

footer{
  display: flex;
  background-color: var(--gray-1);
  padding: 50px;
  gap: 10px;
  justify-content: center;
}

dialog{
  padding: inherit;
  width: 504px;
  height: 425px;
  border: 2px solid var(--brand-1);
  margin: 151px auto;
  background-color: var(--gray-2);
}
.modal__container ul{

  display: flex;
  flex-direction: column;
  gap: 31px;
}
.modal__container{
  display: flex;
  padding: 40px 28px;
  width: 448px;
}
dialog::backdrop{
  background-color: rgb(33, 37, 41, 0.8);
}
.modal__block-cadastro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}







.header__principal button{
  border-color: var(--gray-7);
  background-color: var(--gray-1);
  color: var(--gray-7);
  font-size: clamp(0.7rem, 0.486rem + 0.571vw, 1rem);
  padding: 20px clamp(2.625rem, 1.357rem + 0.714vw, 2rem);
}



.main__block-primary p{
  text-align: center;
  color: var(--gray-6);
  font-size: clamp(1.2rem, -2.424rem + 3.804vw, 1rem);
}
.main__block-primary h1{
  font-weight:600;
  font-size: clamp(3rem, 2.429rem + 1.19vw, 3.5rem);
  line-height: 140%
}
.main__block-primary h1 span{
  font-weight:600;
  font-size: clamp(3rem, 2.429rem + 1.19vw, 3.5rem);
  line-height: 140%;
  color: var(--brand-1)
}
.main__block-primary button{
  background-color: var(--brand-1);
  border: none;
  color: var(--gray-7);
  padding: 20px 32px;
  font-size: clamp(1rem, 0.486rem + 0.571vw, 1rem);
}




.main__block-secondary h2{
  font-weight: 600;
  font-size: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
  line-height: 64px;
  color: var(--gray-6);
}
.main__block-secondary p{
  box-sizing: border-box;
  display: inline-block;
  font-size: clamp(1rem, 0.486rem + 0.571vw, 1rem);
  color: var(--gray-5);
  line-height: 30px;
  width: 528px;
  text-align: justify;
  margin: 0 auto;
}




.main__block-tertiary-item-1 h2{
  font-size: clamp(1.8rem, 1.429rem + 1.19vw, 2.5rem);
  color: var(--gray-6);
  font-weight: 600;
  line-height: 64px;
}
.main__block-tertiary-item-1 p{
  font-size: clamp(1rem, 0.58rem + 0.744vw, 1.25rem);
  color: var(--gray-4);
  text-align: justify;
}
.main__block-tertiary-item-1{
  display:flex;
  flex-direction: column;
  gap: 33px;
  align-items: flex-start; 
  justify-content: space-between;
}
.main__block-tertiary-container button{
  background-color: var(--brand-1);
  border: none;
  color: var(--gray-7);
  padding: 20px 32px;
}




.main__block-tertiary-item-2 h3{
  text-align: center;
  font-size: clamp(1.4rem, 0.58rem + 0.744vw, 1.25rem);
  color: var(--gray-6);
  font-weight: 600;
  line-height: 51.2px;
  margin: 0 0 30px 0;
}

.main__block-tertiary-item-2 p{
  font-size: clamp(1rem, 0.58rem + 0.744vw, 1.25rem);
  color: var(--gray-4);
  text-align: justify;
  line-height: 30px;
  box-sizing: border-box;

}




.main__block-quaternary-item-1 h2{
  color: var(--gray-7);
  font-size: 20px;
}
.main__block-quaternary-item-1 h2{
  font-size: 32px;
  color: var(--gray-6);
  font-weight: 600;
  line-height: 51.2px;
}
.main__block-quaternary-item-1{
  background-color: var(--brand-1);
  gap: 35px;
}
.main__block-quaternary-item-2 h3{
  font-size: 32px;
  color: var(--gray-6);
  font-weight: 600;
  line-height: 51.2px;
}
.main__block-quaternary-item-2 li div p{
  font-size: 16px;
  color: var(--gray-4)
}




foother img{
  width: 178.42px;
  color: var(--gray-6);
}




.modal__block-cadastro button{
  padding: 0 12px;
  width: 38px;
  height: 32px;
  border: none;
  background-color: var(--gray-3);
  color: var(--gray-4);
  font-size: 20px;
}
.modal__block-cadastro h1{
  font-size: 32px;
  color: var(--gray-7);
  font-weight: 600;
  line-height: 51.2px;
}
form ul li input{
  background-color: var(--gray-1);
  border: none;
  padding: 14px 20px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  font-size: 20px;
  color: var(--gray-5);
}
form ul li p{
  font-size: 16px;
  color: var(--gray-4);
  line-height: 24px;
}
form ul li button{
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background-color: var(--brand-1);
  border: none;
  color: var(--gray-7);
  padding: 0 32px;
  
}



.header__principal button:hover{
  background-color: var(--brand-1);
  transition: 1s ease;
}
.main__block-primary button:hover{
  background-color: var(--brand-2);
  border: 1px solid var(--gray-7);
  transition: 1s ease;
}
.main__block-tertiary-item-1 button:hover{
  background-color: var(--brand-2);
  border: 1px solid var(--gray-7);
  transition: 1s ease;
}
.main__block-quaternary-item-1:hover{
  background-color: var(--brand-2);
  border: 1px solid var(--gray-7);
  transition: 1s ease;
}

.modal__block-cadastro button:hover{
  background-color: brown;
  transition: 1s ease;
}
.submit button:hover{
  background-color: #2a3d99;
  transition: 1s ease;
}





@media(max-width: 1024px){

  .main__block-secondary p{
  width: clamp(14.375rem, -41.5rem + 116.406vw, 33rem);
  margin: 0;
  width: 100%;
}

.main__block-secondary{
  width: clamp(19.813rem, -0.25rem + 98.047vw, 62.5rem);
  flex-direction: column;
  align-items: center;
  
  }


  .main__block-tertiary{
    flex-wrap: wrap;
  }
  .main__block-tertiary-item-1 h2{
    text-align: center;
  }
  .main__block-tertiary-item-1{
    align-items: normal;
    width: 100%;
  }
  .main__block-tertiary-item-2{
    width: 100%;
  }

  .main__block-quaternary{
    flex-direction: column;
  }
  .main__block-quaternary-container-1{
    padding: 0;
  }
  .main__block-quaternary-container-1{
    position: static;

  }
  .main__block-quaternary-item-1 h2{
  text-align: center;
    
  }
  .main__block-quaternary-item-2 li div{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  .main__block-quaternary-item-2 li p{
    box-sizing: content-box;
    width: auto;
  }
  .main__block-quaternary-item-2 {
    width: 100%;
  }
  .main__block-quaternary-item-2 li{
    flex-direction: column;
    width: 100%;
  }
  ul{
    width: 100%;
  }

}

@media(max-width: 560px){
  .header__principal{
    justify-content: center;
  }
  
  .header__principal button{
    display: none;
    
  }
  .main__block-quaternary-item-2 h3 {
    font-size: clamp(1.5rem, 1.5rem + 1.882vw, 1rem);
    
  }
  
.modal__container ul {
      width: clamp(20.188rem, -4.227rem + 91.912vw, 28rem);
}
.modal__container {
  width: auto;
  padding: 26px 28px;
}

}
@media(max-width: 425px){
  .modal__container ul {
        width: clamp(0rem, 0rem + 76vw, 20.188rem);
        height: clamp(1.875rem, 1.875rem + -0.941vw, 1.625rem);
  }
  dialog{
    width: min-content;
    height: 440px;
  }
  
}
